body {
  padding-top: 2rem;
}

.bg-lite-dark {
  background-color: #494f56 !important;
}

#playMenu {
  float: left;
}

.container {
  margin-top: 3rem;
}

.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: center;
}

#mediaControls {
  button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

#mediaControls .btn:focus {
  outline: none;
  box-shadow: none;
}

#mediaControls .btn:active {
  transform: scale(1.05);
}

#mediaControls .btn:disabled {
  cursor: not-allowed;
}

img#albumCover {
  width: 20rem;
}

.thumbnail {
  position: relative;
  float: left;
}

.timestamp {
  font-size: 14px;
  margin-left: 10px;
  white-space: nowrap;
}

.volumeContainer i {
  color: grey;
}

.slider {
  appearance: none;
  -webkit-appearance: none;
  width: 230px;
  height: 12px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #467efb;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #467efb;
  cursor: pointer;
}

.dropdown-menu {
  margin-top: 10px;
}

.playlist-menu {
  padding: 0;
  width: calc(100vw - 20px);
  height: auto;
  max-height: calc(100vh - 60px);
  overflow-x: hidden;

  table {
    margin-bottom: 0;
  }

  tr.playlistSong {
    cursor: pointer;
  }
}
