name: Release

on:
  push:
    tags:
      - "*"
jobs:
  release:
    name: Publish for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        include:
          - os: ubuntu-latest
            target_name: crympd
            asset_suffix: linux-amd64
          - os: macos-latest
            target_name: crympd
            asset_suffix: darwin-amd64
      fail-fast: false

    steps:
      - name: Check out repository code
        uses: actions/checkout@v5
      - name: Install Crystal
        uses: crystal-lang/install-crystal@v1
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: '18'
      - run: npm install
      - run: npm run build
      - name: Install Crystal dependencies
        run: shards install
      - name: Compile release
        run: |
          crystal -v
          shards build --release
      - name: Add binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: bin/${{ matrix.target_name }}
          asset_name: ${{ matrix.target_name }}_${{ github.ref_name }}_${{ matrix.asset_suffix }}
          tag: ${{ github.ref }}
          overwrite: true
